body {
  font-family: Arial, sans-serif;
  text-align: center;
}

#grocery-list {
  list-style: none;
  max-width: 500px;
  margin: 0 auto;
  text-align: left;
}

.grocery-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding: 10px;
  box-sizing: border-box;
  border-bottom: 1px solid lightgray;
}

.remove-item-button {
  background-color: red;
  color: white;
  border: none;
  padding: 5px 10px;
  border-radius: 5px;
  cursor: pointer;
}

input[type="checkbox"] {
  cursor: pointer;
}
